In [12]:
from bs4 import BeautifulSoup
import requests

In [13]:
url = 'https://scraping-for-beginner.herokuapp.com/udemy'

In [14]:
r = requests.get(url)

In [15]:
soup = BeautifulSoup(r.text, 'html.parser')

In [16]:
soup

<!DOCTYPE html>

<html dir="ltr" lang="en">
<head>
<meta charset="utf-8"/>
<title>Webスクレイピング入門者のためのサイト</title>
<!-- Compiled and minified CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/> 
  <link href="static/assets/css/style.css" rel="stylesheet"/>
<link href="static/assets/css/udemy.css" rel="stylesheet"/>
<!-- <link rel="stylesheet" href="static/assets/css/mypage.css"> -->
</head>
<body>
<!-- Navbar -->
<div class="navbar-fixed">
<!-- Dropdown Structure -->
<nav class="">
<div class="nav-wrapper row">
<div class="col s5 l4 offset-s1 offset-l1">
<a class="brand-logo" href="/">Webスクレイピング入門</a>
</div>
<div class="col s5 l6">
<ul class="right hide-on-med-and-down" id="nav-mobile">
<li><a class="" href="/login_page">ログイン</a></li>
<li><a class="" href="/ranking/">ランキング</a></li>
<li><a class="" href="/image">画像</a></li>
<li><a class="" href="/udemy">Udemy</a></li>
<li><a class="" href="https://scraping-for-beginner.readthedocs.io/" target="”_blank”">サンプルコード</a></li>
</ul>
</div>
</div>
</nav>
</div>
<div class="row">
<div class="col s4 offset-s4">
<div class="overview">
<p>
      こちらのページは、<b>PythonによるWebスクレイピング〜Webアプリケーション編〜</b>で使用します。
      </p>
</div>
<div class="">
<div class="">
<div class="card">
<div class="card-image">
<img src="/static/assets/img/imanyu.png"/>
<span class="card-title" style="color: black; background-color: white;">いまにゅ</span>
</div>
<div class="card-content">
<p><b><p class="position">いまにゅのプログラミング塾｜code4biz 代表</p></b><br/>

            『プログラミング×〇〇』でビジネス戦闘力を向上させる｜東京理科大出身｜元東北大学 非常勤講師｜東進デジタルユニバーシティ最年少講師｜AI教育系ベンチャー（キカガク）取締役 → 今｜Udemy受講生3.3万人｜YouTubeチャンネル登録者10.5万人｜プログラミング初学者に欠かせない学習法等を発信<br/>
</p>
</div>
<div class="card-action">
<p class="subscribers">受講生の数：20119</p>
<p class="reviews">レビューの数：3438</p>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $(".dropdown-trigger").dropdown();
    });
  </script>
</body>
</html>

In [17]:
name = soup.select('.card-title')[0].string
name

'いまにゅ'

In [18]:
n_subscribers = soup.select('.subscribers')[0].string
n_subscribers

'受講生の数：20119'

In [19]:
n_subscribers.split('：')[1]

'20119'

In [20]:
n_subscribers = int(n_subscribers.split('：')[1])
n_subscribers

20119

In [21]:
n_reviews = soup.select('.reviews')[0].string
n_reviews

'レビューの数：3438'

In [22]:
n_reviews = int(n_reviews.split('：')[1])
n_reviews

3438

In [23]:
results = {
    'name': name,
    'n_subscribers': n_subscribers,
    'n_reviews': n_reviews
}

In [24]:
results

{'name': 'いまにゅ', 'n_subscribers': 20119, 'n_reviews': 3438}

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('assets/data.csv')

In [27]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [28]:
df.tail()

         date  subscribers  reviews
751  2021/2/5        10753     1820
752  2021/2/6        10753     1824
753  2021/2/7        10756     1824
754  2021/2/8        10776     1826
755  2021/2/9        10796     1831

In [29]:
import datetime

In [38]:
date = datetime.datetime.today().strftime('%Y/%m/%d').replace('/0','/')
date

'2023/9/27'

In [31]:
subscribers = results['n_subscribers']
reviews = results['n_reviews']

In [32]:
subscribers

20119

In [33]:
reviews

3438

In [41]:
results = pd.DataFrame([[date, subscribers, reviews]], columns=['date', 'subscribers', 'reviews'])
results

        date  subscribers  reviews
0  2023/9/27        20119     3438

In [43]:
df = pd.concat([df, results])
df.tail()

          date  subscribers  reviews
752   2021/2/6        10753     1824
753   2021/2/7        10756     1824
754   2021/2/8        10776     1826
755   2021/2/9        10796     1831
0    2023/9/27        20119     3438

In [44]:
df.to_csv('assets/data.csv', index=False)

In [46]:
def get_udemy_info():
    url = 'https://scraping-for-beginner.herokuapp.com/udemy'

    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')

    name = soup.select('.card-title')[0].string

    n_subscribers = soup.select('.subscribers')[0].string
    n_subscribers = int(n_subscribers.split('：')[1])

    n_reviews = soup.select('.reviews')[0].string
    n_reviews = int(n_reviews.split('：')[1])

    results = {
        'name': name,
        'n_subscribers': n_subscribers,
        'n_reviews': n_reviews
    }

    return results

In [47]:
def write_data():
    df = pd.read_csv('assets/data.csv')



    _results = get_udemy_info()

    date = datetime.datetime.today().strftime('%Y/%m/%d').replace('/0','/')
    subscribers = _results['n_subscribers']
    reviews = _results['n_reviews']
    results = pd.DataFrame([[date, subscribers, reviews]], columns=['date', 'subscribers', 'reviews'])

    df = pd.concat([df, results])
    df.to_csv('assets/data.csv', index=False)